@import "antd/dist/antd.css";

body {
  font-family: "Quicksand", sans-serif;
}

.a {
  color: white;
}

.hero {
  background-color: #36ae92;
  padding: 130px 100px 100px 100px;
}

.bkl {
  background-color: white;
  padding: 50px 150px 50px 150px;
}

.bkl-kita {
  background-color: white;
  padding: 0px 150px 50px 150px;
}

.main-footer {
  color: white;
  background-color: #15957c;
  padding: 50px 100px 30px 100px;
}

.footer-cr {
  text-align: left;
}

.follow-us {
  text-align: right;
}

.medsos-cr {
  padding: 0px 5px 0px 5px;
}

.all-card {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main-footer {
    text-align: center;
    padding: 50px 30px 30px 30px;
  }
  .footer-cr {
    text-align: center;
  }
  .follow-us {
    text-align: center;
  }
}

@media only screen and (max-width: 608px) {
  .bkl-kita {
    padding: 0px 20px 50px 20px;
  }
}

@media only screen and (max-width: 991px) {
  .hero {
    padding: 50px 20px 100px 20px;
    text-align: center;
    font-size: 50%;
  }
  .all-card {
    text-align: center;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .for-pc {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .for-mobile {
    display: none;
  }
  .padd {
    padding-top: 100px;
  }
}

.product {
  background-image: url("./css/myPokemonBG.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 160px 150px 160px 150px;
}

@media only screen and (max-width: 760px) {
  .bkl {
    padding: 50px 20px 50px 20px;
  }
  .prodcut {
    padding: 130px 20px 130px 20px;
  }
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background-image: Logo;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #36ae92;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #36ae92;
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: #36ae92;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #36ae92;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-dots li.slick-active button {
  background: #36ae92;
  opacity: 1;
}

.ant-carousel .slick-dots li button {
  display: block;
  width: 100%;
  height: 3px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: #36ae92;
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.5s;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #36ae92;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  border-bottom: 0px;
  box-shadow: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #36ae92;
}

.card-title {
  color: #36ae92;
  font-size: 14px;
  font-weight: bolder;
}

.card-description {
  color: rgb(86, 86, 86);
}

.ant-btn-primary {
  color: #fff;
  background: #36ae92;
  border-color: #36ae92;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-input {
  background-color: #ffebe8;
  border-radius: 12px;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0px 12px 12px 0;
}

.title {
  color: #3d3d3d;
  font-weight: bold;
  font-size: 32px;
}

.desc {
  color: grey;
  font-size: 18px;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.rightMenu {
  float: right;
  color: #36ae92;
  font-weight: bold;
  font-size: 14px;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  padding-top: 10px;
  background-color: "#36AE92";
  color: "#36AE92";
  display: none;
  background: none;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .rightMenu {
    display: none;
  }

  .barsMenu {
    display: inline-block;
  }
}
